<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hamburger</title>
    <link rel="stylesheet" href="index.css"/>
    <script src="index.js"></script>
</head>
<body>
    <div id="hamburger-menu-list-container">
        <button onclick="onClickHamburger()" class="hamburger-button">
            <img id="hamburger-icon" src="./icon.png"/>
        </button>
        <ul id="hamburger-menu-list-ul">
            <li>HTML</li>
            <li>JAVASCRIPT</li>
            <li>CSS</li>
            <li>REACT</li>
            <li>VUEJS</li>
            <li>NODEJS</li>
        </ul>
    </div>



</body>
</html>
