<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DropDownMenu</title>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>
    <!-- dropdown menu container  -->
    <div>
        <button id="button" class="drop-down-button" onclick="onClickOpen()">DropDown</button>
        <ul id="ul" class="drop-down-item-hidden">
           <li onclick="onClickMenu(id)" id="HTML" class="drop-down-item">HTML</li>
            <li onclick="onClickMenu(id)" id="JAVASCRIPT" class="drop-down-item">JAVASCRIPT</li>
            <li onclick="onClickMenu(id)" id="CSS" class="drop-down-item">CSS</li>
        </ul>
    </div>


</body>
<script src="index.js"></script>
</html>
